<div class="bg-body-secondary text-center py-5 rounded-2">
    <h1 class="display-6 fw-bold">
        Payment Details Register
    </h1>
</div>

<div class="row mt-5">
    <div class="col-6">
        <app-payment-detail-form />
    </div>
    <div class="col-6">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-item-between align-item-start mb-2 border px-4 py-2 rounded-2"
                *ngFor="let pd of service.list">
                <div class="flex-grow-1 mouse-hover" (click)="populateForn(pd)">
                    <div class="fw-bold"> {{pd.cardOwnerName}}</div>
                    <div> {{pd.cardNumber}}</div>
                    <div class="fw-bold"> {{pd.cardExpiryDate}}</div>
                </div>
                <div class="text-secondary" (click)="deleteRecord(pd.id)">
                    <i class="fa-solid fa-trash-can fa-lg mouse-hover"></i>
                </div>
            </li>
        </ul>
    </div>
</div>